
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite" parallel="classes" thread-count="1">
 <test name="Test" >
    <classes>

        <class name="com.link.google.test.GoogleTest01"></class>
        <class name="com.link.google.test.GoogleTest02"></class>
        <class name="com.link.google.test.GoogleTest03"></class>

    </classes>
 </test>
</suite>